{% extends "bootstrap/base.html" %}
{% block title %} Image Dict {% endblock %}

{% block content %}

<body style="background-color:#eeeeee">
<div class="page-header text-center" >
	<h1>Image Dict <small>alon21034<small></h1>
</div>

<div class="form-group">
	<form class="form-search" action="/" method="post" style="text-align:center">
		<input type="search" name="query" class="search-query" placeholder="query">
		<button type="submit" class="btn btn-sm">search</button>
	</form>
</div>

<div>
	{% if tran: %}
	<ul>
	{% for a in tran: %}
		<li class="lead"> {{ a }} </li>
	{% endfor %}
	</ul>
	{% endif %}
</div>

<div>
	{% if urls: %}
	{% for a in urls: %}
		<img src={{ a }} width="120" height="120" />
	{% endfor %}
	{% endif %}
</div>

</body>
{% endblock %}