{% extends "bootstrap/base.html" %}
{% block title %} Image Dict {% endblock %}

{% block content %}

<body style="background-color:#eeeeee">
<div class="page-header text-center" >
	<h1>Image Dict <small>alon21034<small></h1>
</div>

<div class="form-group">
	<form class="form-search" action="/" method="post" style="text-align:center">
		<input type="search" name="query" class="search-query" placeholder="query">
		<button type="submit" class="btn btn-sm">search</button>
	</form>
</div>

<div class="row">
	<div class="col-md-4">
		From <a herf="http://www.dict.cc/">Dict.cc</a>
		{% if tran: %}
		<ul>
		{% for a in tran[0]: %}
			<li class="lead"> {{ a[0] }} : {{ a[1] }} </li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>

	<div class="col-md-4">
		From <a herf="https://translate.google.com.tw/">Google Translate</a>
		{% if tran: %}
		<ul>
			<li class="lead"> {{ tran[1][1] }} : {{ tran[1][0] }} </li>
		</ul>
		{% endif %}
	</div>

	<div class="col-md-4">
		{% if tran: %}
		<ul>
		{% for a in tran: %}
			<li class="lead"> {{ a }} </li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>

<div>
	{% if urls: %}
	{% for a in urls: %}
		<img class="img-rounded" src={{ a }} width="auto" height="200" align="middle" hspace="20" vspace="20" />
	{% endfor %}
	{% endif %}
</div>

</body>
{% endblock %}